RGBOV.bak
RGBOV-cache.lib
obj
./make_text_graphic.exe
.gitignore
make_text_graphic.exe
we_hold.c.snippet
generateImageArray.exe
b.c.snippet
*.o
*.exe
pacman.psd
mario.psd
*.exe
*.gz
*.a
*.la
*.zip
*.stackdump
*-cache.lib
*.bak
exported
